
<!DOCTYPE html>
<html>
<head>
    <title>Steganography Encryption</title>
</head>
<body>
    <h3>Encrypt a Message into an Image</h3>
    <form action="/encrypt" method="post">
        <label for="msg">Input Message:</label><br>
        <input type="text" id="msg" name="msg" required><br>
        <label for="pas">Password:</label><br>
        <input type="password" id="pas" name="pas" required><br>
        <label for="ipath">Image Path:</label><br>
        <input type="text" id="ipath" name="ipath" required><br>
        <input type="submit" value="Encrypt">
    </form>
</body>
</html>
